.container {
  min-width: 100%;
  background: white;
  padding-right: 30rem;
  padding-bottom: 10rem;
  background-color: white;
  display: flex;
  
  justify-content: center;
  text-align: center;
}
 .chatBox {
  -webkit-box-shadow: 0 42px 64px 0 #e7e7ec !important;
  box-shadow: 0 42px 64px 0 #e7e7ec !important;
} 
.logo{
  height: 55px;
  width: 55px;
  margin-right: 10px;
border-radius: 100%;
  width: auto;
  // object-fit: cover;
  position: inherit;
}
